* {
  font-family: 'Courier New', Courier, monospace;
  background-color: #474747;
  color: #009420;
}

body {
  margin: 0px;
}
#mainHeader {
  background-color: #333333;
  color: #00ca2c;
  text-align: center;
  margin: 0px;
  border-radius: 0px 0px 30px 30px;
}

.headerContent {
  background-color: inherit;
  color: inherit;
  vertical-align: middle;
  margin: 10px;
}

.card {
  border: 3px solid #969696;
  display: inline-block;
  
}

#blugDisplayWindow {
  text-align: center;
}

.blugCard {
  margin: 20px auto;
  border: 5px solid #969696;
  border-radius: 5px;

  width: 45%;
}

.blugCardTitle {
  border-bottom: 5px solid #969696;
  
  padding: 10px;
  text-align: left;
  
  font-weight: bold;
  font-size: 24px;
}

.blugCardContent {
  padding: 10px;
  text-align: left;
}

.blugTextArea {
  margin-right: 100%;
  width: 100%;
  /* Tar flera olika browsers:
  https://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
}